<div class="login_sctions">
	<h1 style="margin-top: 0px;"><span>Create your ReviewTrunk account.</span></h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
     	<div class="row" style="margin-top: 15px;">
     		<div class="col-sm-10 col-sm-offset-1">
                <%= f.text_field :name , placeholder: "Name"%>
     		</div>
     	</div>
     	<div class="row" style="margin-top: 15px;">
     		<div class="col-sm-10 col-sm-offset-1">
                <%= f.email_field :email, placeholder: "Email"%>
     		</div>
     	</div>
     	<div class="row" style="margin-top: 15px;">
     		<div class="col-sm-10 col-sm-offset-1">
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password"%>
                <% if @validatable %>
                  <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
                <% end %>
     		</div>
     	</div>
     	<div class="row" style="margin-top: 15px;">
     		<div class="col-sm-10 col-sm-offset-1">
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password"%>
     		</div>
     	</div>
        
     	<p class="submit" style="margin-top: 8px;">
            <%= f.submit "Sign Up", class: "button button_btn blue" %>
        </p>
        <%end%>
</div>
<div class="row">
	<div class="col-sm-9 col-sm-offset-3">

		    <p class="devise-shared-links"><%= render "devise/shared/links" %></p>
        </div>
    </div>
</div>
<!--<%= render "devise/shared/links" %> -->