<!DOCTYPE html>
<html>
  <head>
    <title>Reviewtrunk</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
    
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700%7COpen+Sans:400,600,700" rel="stylesheet">  
  </head>

    <body id="top" class="is-scrolling" >
        <%= yield %>
    </body>
</html>
